@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .svg-colored {
    filter: invert(99%) sepia(2%) saturate(21%) hue-rotate(330deg) brightness(106%) contrast(100%);
  }
}
/* @font-face { */
/*     font-family: 'Lekton', sans-serif; */
/*   font-style: normal; */
/*   font-weight: 400; */
/*   src: local('Lekton'), local('Lekton'), */ 
/*   url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap'); */ 
/* } */


